<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50210171481-ec95d3u8deliuvn247irc8lsfhi3583o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50210171481-ec95d3u8deliuvn247irc8lsfhi3583o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>50210171481-boa8pk0m2r6piotolohh49f3jt7pu9vr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGILsHhBS4xw11IaNgTBNZnxVllWB_HrY</string>
	<key>GCM_SENDER_ID</key>
	<string>50210171481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cdi.jumpa-dokter</string>
	<key>PROJECT_ID</key>
	<string>jumpa-dokter</string>
	<key>STORAGE_BUCKET</key>
	<string>jumpa-dokter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50210171481:ios:ffb6d4f145063405009f48</string>
</dict>
</plist>